<nav class="navbar navbar-expand-sm custom_nav">
  <div class="container-fluid">

    <h2 class="text-center mb-4">
         <img src="assets/img/newlogo.png" width="110" height="100" alt="Basha Bhai Biryani" data-retina="true">
              
    </h2>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto custom_navitem">

        <li class="nav-item" *ngFor="let link of navLinks">
          <a class="nav-link"
             [ngClass]="{ 'active': link.active }"
             (click)="onNavClick(link)">

            <div class="icon-container">
              <i class="bi" [ngClass]="link.icon"></i>
            </div>

            {{ link.name }}
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

