
<div class="container-fluid hero-section">
  <div class="row align-items-center">
    <div class="col-sm-6 d-flex flex-row-reverse">
      <img src="assets/img/cook5.png" width="420" height="auto" /> 
   </div>
      <div class="col-md-6 mb-4 mb-md-0">
        <h1 class="custom_h1">Welcome to Basha Bhai Biryani Restaurant</h1>
        <p class="custom_p"> 
          At <b>Basha Bhai Biryani Restaurant</b> , we take immense pride in serving you the finest biryanis, blending the rich culinary traditions of Chennai with the exquisite flavors of Dubai. Our journey began with a passion for authentic, mouthwatering biryanis and a dream to bring the best of both worlds to your plate.</p>
      </div>
      
  </div>
  
  <div class="row align-items-center">
      <div class="col-md-6 mb-4 mb-md-0">
        <h1 class="custom_h1">Basha Bhai Biryani Philosophy</h1>
          <p class="custom_p">To offer our customers an unforgettable dining experience through exceptional food, warm hospitality, and a welcoming ambiance. We believe that a great meal is not just about the food on your plate but also the memories you create while enjoying it.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
          <img src="assets/img/cook6.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
      </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="assets/img/cook2.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
    </div>
    <div class="col-md-6 mb-4 mb-md-0 d-flex flex-column justify-content-center">
      <h1 class="custom_h1">Basha Bhai Biryani Specialties</h1>
      <p class="custom_p">
        Our menu features a wide range of biryanis, each prepared with the finest ingredients and traditional cooking techniques. From our signature Chicken and Mutton Biryanis to our special Dubai-inspired dishes, every item on our menu is crafted to perfection. We also offer a variety of vegetarian options, appetizers, sides, and desserts to cater to all taste preferences.
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <h1 class="custom_h1">Quality and Freshness</h1>
        <p class="custom_p">We source the freshest ingredients and use only the highest quality spices to ensure that every dish meets our exacting standards. Our chefs are dedicated to maintaining the authenticity of our recipes while infusing them with innovative twists to delight your taste buds.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
        <img src="assets/img/cook8.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
    </div>
</div>

<div class="row align-items-center">
  <div class="col-md-6 mb-4 mb-md-0">
    <img src="assets/img/cook9.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
  </div>
  <div class="col-md-6 mb-4 mb-md-0 d-flex flex-column justify-content-center">
    <h1 class="custom_h1">What We Offer</h1>
    <b>Authentic Biryani:</b>
    <p class="custom_p">
       Our signature biryanis, whether it's the classic Chicken Biryani, succulent Mutton Biryani, or the flavorful Vegetable Biryani, are cooked to perfection, offering a symphony of flavors in every bite.
    </p>
    <b>Fusion Delights:</b>
    <p class="custom_p"> Inspired by Dubai's rich culinary heritage, our Dubai Special Biryani and other fusion dishes bring a unique twist to traditional recipes, creating an exciting gastronomic adventure.</p>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-6 mb-4 mb-md-0">
    <h1 class="custom_h1">Customer Commitment</h1>
      <p class="custom_p">At Basha Bhai Biryani Restaurant, our customers are at the heart of everything we do. We strive to provide exceptional service and ensure that every visit is a delightful experience. Your satisfaction is our top priority, and we welcome your feedback to help us continually improve.</p>
  </div>
  <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
      <img src="assets/img/cook10.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
  </div>
</div>

<div class="row align-items-center">
  <div class="col-md-6 mb-4 mb-md-0">
    <img src="assets/img/cook7.png" class="img-fluid" alt="Cook" style="max-width: 100%; height: auto;">
  </div>
  <div class="col-md-6 mb-4 mb-md-0 d-flex flex-column justify-content-center">
    <h1 class="custom_h1">Our Commitment</h1>
    <p class="custom_p">
      We are committed to maintaining the highest standards of quality and service. Our chefs meticulously select fresh, premium ingredients, and our staff ensures that every guest enjoys a warm and welcoming dining atmosphere. Whether you dine with us in Chennai or Dubai, Basha Bhai Biryani Restaurant promises a memorable meal that will keep you coming back for more.
    </p>
  </div>
</div>


</div>


     
  
     


  

